/****** META ******************************************************************/

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/cmunrm.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/cmunti.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/cmunbx.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/cmunbl.ttf');
}

:root {
  --gray-a-8: rgba(108, 117, 125, 0.08333);
  --gray-a-25: rgba(108, 117, 125, 0.25);
  --gray-a-42: rgba(108, 117, 125, 0.4167);
  --red-a-42: rgba(220, 53, 69, 0.4167);
  --preset-list-height: 144px;
}

* {
  font-family: 'Roboto';
}

html,
body {
  height: calc(100%);
  overflow-x: hidden;
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  float: right;
  opacity: 0.6667;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100%);
}

svg {
  overflow: visible;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.container-fluid .row {
  padding: 12px;
}

.container-fluid g {
  margin: 12px 0px;
  width: calc(100%);
}

div[class^='col'],
g[class^='col'] {
  height: calc(100%);
}

.h-33 {
  height: calc(33.33%);
}

.custom-scrollbar {
  transition: scrollbar-color 0.1736s;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.custom-scrollbar:hover {
  scrollbar-color: var(--gray-a-42) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  opacity: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.mini-button {
  z-index: 1728;
  transition: opacity 0.1736s;
  opacity: 0.3333;
  cursor: pointer;
}

.mini-button:hover {
  opacity: 0.6667;
}

.mini-button:active {
  opacity: 0.8333;
}

#main-wrapper {
  position: absolute;
  top: 0px;
  height: calc(100%);
}

/****** SEARCH BAR ************************************************************/

#search-bar {
  height: calc(100% - var(--preset-list-height));
}

#search-bar-title {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 8px;
  color: white;
  filter: drop-shadow(0px 0px 4px black);
  user-select: none;
  margin: -12px 8px;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 2em;
}

#search-bar-title b {
  font-family: 'Computer';
  font-weight: bold;
  font-size: 96px;
  letter-spacing: 4px;
  filter: drop-shadow(0px 0px 2px var(--pink));
}

#search-bar-subtitle {
  font-size: x-small;
  font-style: italic;
  opacity: 0.5;
  margin: -12px 0px 12px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-bar-view-navigator {
  height: 54px;
  margin: 36px 0px;
}

#search-bar-view-navigator button {
  font-weight: bold;
}

#search-bar-search-box {
  background-image: none;
  border-color: var(--gray);
}

#search-bar-search-box:focus {
  box-shadow: 0px 0px 0px 4px var(--gray-a-42);
}

#search-bar-search-box.is-invalid:focus {
  box-shadow: 0px 0px 0px 4px var(--red-a-42);
}

#search-bar-clear-button {
  position: absolute;
  right: 57px;
  display: none;
  padding: 9px 12px;
}

#search-bar-search-button {
  border-radius: 0px 6px 6px 0px;
  padding: 0px 18px;
}

#search-bar-loading-indication {
  font-size: 72px;
  text-align: center;
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

#search-bar-no-result-indication {
  opacity: 0.3333;
  text-align: center;
  margin-top: 36px;
  display: none;
}

#search-bar-result-list {
  max-height: calc(100% - 288px);
  width: calc(100% + 6px);
  overflow-y: scroll;
  transition: color 0.1736s;
  color: transparent;
}

#search-bar-result-list:hover {
  color: var(--gray-a-42);
}

#search-bar-result-list::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 6px;
}

#search-bar-result-list .row {
  margin: 0px;
  padding: 12px 6px;
}

.search-bar-result-item {
  border: none;
}

.search-bar-result-item:hover {
  background-color: var(--secondary);
}

.search-bar-result-item.selected {
  transition: backdrop-filter 0.1736s;
  backdrop-filter: none;
}

.search-bar-result-item.selected:hover {
  backdrop-filter: brightness(0.5);
}

.search-bar-result-item.selected:active {
  transition: backdrop-filter 0.1736s;
  backdrop-filter: brightness(0.3333);
}

.search-bar-result-item b {
  cursor: pointer;
  float: left;
  max-width: calc(100% - 78px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar-result-item p {
  text-align: left;
  margin-top: 12px;
  margin-bottom: -6px;
}

/****** PRESET LIST ***********************************************************/

#preset-list {
  background-color: white;
  margin-bottom: 0px;
  height: initial;
}

#preset-list-title {
  opacity: 0.5;
  font-style: italic;
}

#preset-list-contents button {
  margin: 0px 6px 6px 6px;
  border-radius: 6px;
}

/****** PLOT ******************************************************************/

#main-plot-svg,
#bottom-plot-svg,
#secondary-plot-svg,
#ternary-plot-svg,
#text-plot-svg {
  margin-left: 96px;
  margin-top: 24px;
  width: calc(100% - 96px - 12px);
  height: calc(100% - 24px - 36px);
}

.x-axis-label {
  fill: black;
  text-anchor: middle;
  font-size: smaller;
}

.y-axis-label {
  fill: black;
  text-anchor: middle;
  font-size: smaller;
}

.title-label {
  fill: black;
  text-anchor: middle;
}

.plot-grid-cell-background {
  fill: var(--gray-a-8);
}
