/****** META ******************************************************************/

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: normal;
  font-style: normal;
  src: url('/static/fonts/cmunrm.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: normal;
  font-style: italic;
  src: url('/static/fonts/cmunti.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: bold;
  font-style: normal;
  src: url('/static/fonts/cmunbx.ttf');
}

@font-face {
  font-family: 'Computer';
  font-weight: bold;
  font-style: italic;
  src: url('/static/fonts/cmunbl.ttf');
}

:root {
  --gray-a-8: rgba(108, 117, 125, 0.08333);
  --gray-a-25: rgba(108, 117, 125, 0.25);
  --gray-a-42: rgba(108, 117, 125, 0.4167);
  --red-a-42: rgba(220, 53, 69, 0.4167);
  --back-button-height: 0px;
  --preset-list-height: 144px;
  --ternary-plot-left: 96px;
}

* {
  font-family: 'Roboto';
}

html,
body {
  width: calc(100%);
  height: calc(100%);
  overflow-x: hidden;
  position: relative;
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  float: right;
  opacity: 0.6667;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100%);
}

svg {
  overflow: visible;
}

a {
  user-select: none;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.container-fluid .row {
  padding: 12px;
}

.container-fluid g {
  margin: 12px 0px;
  width: calc(100%);
}

div[class^='col'],
g[class^='col'] {
  height: calc(100%);
}

.h-33 {
  height: calc(33.33%);
}

.h-67 {
  height: calc(66.67%);
}

.custom-scrollbar {
  transition: scrollbar-color 0.1736s;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.custom-scrollbar:hover {
  scrollbar-color: var(--gray-a-42) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  opacity: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.mini-button {
  z-index: 1728;
  transition: opacity 0.1736s;
  opacity: 0.3333;
  cursor: pointer;
  user-select: none;
}

.mini-button:hover {
  opacity: 0.6667;
}

.mini-button:active {
  opacity: 0.8333;
}

.text-only-axis path,
.text-only-axis line {
  fill: none !important;
  stroke: none !important;
}

#main-wrapper {
  position: absolute;
  top: 0px;
  height: calc(100%);
}

/****** INFO PANEL ************************************************************/

.info-panel {
  position: absolute;
  text-align: center;
  width: fit-content;
  max-width: 432px;
  height: fit-content;
  background: #f4f4f4;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 8px !important;
  padding-bottom: 4px !important;
  pointer-events: none;
  opacity: 0;
  z-index: 20736;
  float: left;
  font-size: small;
}

.info-panel h5 {
  margin-bottom: 4px;
}

.info-panel span {
  float: initial;
  opacity: 1;
}

.info-panel em {
  font-size: xx-small;
  font-style: normal;
}

/****** SEARCH BAR ************************************************************/

#search-bar {
  height: calc(100% - var(--back-button-height) - var(--preset-list-height));
}

#search-bar-title-wrapper .mini-button {
  opacity: 0;
}

#search-bar-title {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 8px;
  color: white;
  filter: drop-shadow(0px 0px 4px black);
  user-select: none;
  cursor: pointer;
  margin: -12px 8px;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 2em;
}

#search-bar-title b {
  font-family: 'Computer';
  font-weight: bold;
  font-size: 96px;
  letter-spacing: 4px;
  filter: drop-shadow(0px 0px 2px var(--pink));
}

#search-bar-subtitle {
  font-size: x-small;
  font-style: italic;
  opacity: 0.5;
  margin: -12px 0px 12px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-bar-view-navigator {
  height: 54px;
  margin: 36px 0px;
}

#search-bar-view-navigator button {
  font-weight: bold;
}

#search-bar-search-box {
  background-image: none;
  border-color: var(--gray);
}

#search-bar-search-box:focus {
  box-shadow: 0px 0px 0px 4px var(--gray-a-42);
}

#search-bar-search-box.is-invalid:focus {
  box-shadow: 0px 0px 0px 4px var(--red-a-42);
}

#search-bar-clear-button {
  position: absolute;
  right: 57px;
  display: none;
  padding: 9px 12px;
}

#search-bar-search-button {
  border-radius: 0px 6px 6px 0px;
  padding: 0px 18px;
}

#search-bar-loading-indication {
  font-size: 72px;
  text-align: center;
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

#search-bar-no-result-indication {
  opacity: 0.3333;
  text-align: center;
  margin-top: 36px;
  display: none;
  margin-bottom: 24px;
}

#search-bar-back-button {
  text-align: left;
  margin-bottom: -12px;
  display: none;
  background-color: var(--gray-a-8);
}

#search-bar-back-button:hover {
  background-color: var(--gray);
}

#search-bar-result-list {
  max-height: calc(100% - 288px);
  width: calc(100% + 6px);
  overflow-y: scroll;
  transition: color 0.1736s;
  color: transparent;
}

#search-bar-result-list:hover {
  color: var(--gray-a-42);
}

#search-bar-result-list::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 6px;
}

#search-bar-result-list .row {
  margin: 0px;
  padding: 12px 6px;
}

.search-bar-result-item {
  border: none;
}

.search-bar-result-item:hover {
  background-color: var(--secondary);
}

.search-bar-result-item.selected {
  transition: backdrop-filter 0.1736s;
  backdrop-filter: none;
}

.search-bar-result-item.selected:hover {
  backdrop-filter: brightness(0.5);
}

.search-bar-result-item.selected:active {
  transition: backdrop-filter 0.1736s;
  backdrop-filter: brightness(0.3333);
}

.search-bar-result-item b {
  cursor: pointer;
  float: left;
  max-width: calc(100% - 78px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar-result-item p {
  text-align: left;
  margin-top: 12px;
  margin-bottom: -6px;
}

/****** PRESET LIST ***********************************************************/

#preset-list {
  background-color: white;
  margin-bottom: 0px;
  height: initial;
}

#preset-list-title {
  opacity: 0.5;
  font-style: italic;
  height: 28px;
  white-space: nowrap;
  overflow-x: hidden;
}

#preset-list-contents button {
  margin: 0px 6px 6px 6px;
  border-radius: 6px;
}

/****** PLOT ******************************************************************/

.plot-container {
  background-color: white;
}

#main-plot .plot-svg,
#bottom-plot .plot-svg,
#secondary-plot .plot-svg,
#text-plot .plot-svg {
  position: relative;
  left: 96px;
  top: 36px;
  width: calc(100% - 96px - 12px);
  height: calc(100% - 36px - 36px);
}

#ternary-plot .plot-svg {
  position: relative;
  left: var(--ternary-plot-left);
  top: 36px;
  width: calc(100% - var(--ternary-plot-left) - 12px);
  height: calc(100% - 36px - 36px);
}

#bottom-plot .plot-menu {
  max-height: calc(100% - 42px);
  overflow-y: auto;
}

.x-axis-label {
  fill: black;
  font-size: smaller;
  text-anchor: middle;
}

.y-axis-label {
  fill: black;
  font-size: smaller;
  text-anchor: middle;
}

.title-label {
  fill: black;
  text-anchor: middle;
}

.plot-grid-cell-background {
  fill: var(--gray-a-8);
}

.plot-grid-ellipsis-dot {
  fill: var(--gray-a-8);
  pointer-events: none;
}

.plot-grid-tick {
  font-size: xx-small;
  text-anchor: middle;
}

/****** PLOT MENU *************************************************************/

.plot-menu-button {
  position: relative;
  top: -6px;
  right: -6px;
  padding: 6px;
  font-size: x-large;
}

.plot-menu {
  position: absolute;
  top: 30px;
  right: 12px;
  background-color: #f4f4f4;
  z-index: 1728;
  padding: 8px 0px;
}

.plot-menu-item-divider {
  border-top: 1px solid var(--gray-a-25);
}

.plot-menu-item-selectable {
  cursor: pointer;
  transition: background-color 0.1736s;
}

.plot-menu-item-selectable:hover {
  background-color: var(--gray-a-25);
}

.plot-menu-item-selectable:active {
  background-color: var(--gray);
  color: white !important;
}

.plot-menu-item-selectable.bg-primary {
  color: white !important;
}

.plot-menu-item-stepped-slider {
  position: relative;
  left: 12px;
  width: calc(100% - 24px);
}

/****** STORY *****************************************************************/

#right-view-cover {
  font-size: large;
}
