<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <!--
  <script src="https://d3js.org/d3-array.v2.min.js"></script>
  <script src="https://d3js.org/d3-brush.v2.min.js"></script>
  <script src="https://d3js.org/d3-color.v2.min.js"></script>
  <script src="https://d3js.org/d3-dispatch.v2.min.js"></script>
  <script src="https://d3js.org/d3-drag.v2.min.js"></script>
  <script src="https://d3js.org/d3-ease.v2.min.js"></script>
  <script src="https://d3js.org/d3-force.v2.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
  <script src="https://d3js.org/d3-quadtree.v2.min.js"></script>
  <script src="https://d3js.org/d3-selection.v2.min.js"></script>
  <script src="https://d3js.org/d3-timer.v2.min.js"></script>
  <script src="https://d3js.org/d3-transition.v2.min.js"></script>
  -->

  <head>
    <h1>VOEIS</h1>
  </head>

  <body>
    <div id="contents"></div>
  </body>
  <script
    type="text/javascript"
    src="{{url_for('static', filename='js/script.js')}}"
  ></script>
</html>
