<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Visualization - VOEIS</title>
    <script src="https://d3js.org/d3.v5.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    html {
      background: #9c9965;
    }

    body {
      width: 80%;
      margin: 20px auto;
      background: #ffe3a6;
    }

    #header {
      background: #9c9965;
    }

    #sidebar {
      float: left;
      width: 200px;
      background: #d4c37b;
    }

    #main {
      border-left: 200px solid #d4c37b;
    }

    #footer {
      clear: left;
      background: #9c9965;
    }
  </style>

  <body>
    <div id="header">
      <h2>VOEIS</h2>
      <p></p>
    </div>

    <div id="sidebar">
      <h2>SearchBar</h2>
      <p>Content</p>
    </div>

    <div id="main">
      <div id="Main-View">
        <h2>Main-View</h2>

        <p>Content</p>
      </div>
      <div id="Secondary-View">
        <h2>Secondary-View</h2>
        <p>Content</p>
      </div>
    </div>

    <div id="footer">
      <h2>Footer</h2>
      <p>Content</p>
    </div>

    <script src="static/js/Seach-Bar.js"></script>
    <script src="static/js/Main-View.js"></script>
    <script src="static/js/Secondary-View.js"></script>
    <script src="static/js/Script.js"></script>
  </body>
</html>
